body {
    margin-top: 5em;
    background-color: aliceblue;
}

div.container {

}

.main-form{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:#009edf;
    color: #FFF;
    text-shadow: none;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    border-radius: 8px;

}

h1 {
    margin-left: 10px;
}


.btnSubmit {
    margin: 0 auto;;
    padding: 10px 40px;
    border-color: #FFFFFF;
    background-color: #21a924;
    color: #FFFFFF;
}

.goodS {
    border-color: #21a924 !important;
    background-color: #efffe9 !important;
}

.badS {
    border-color: #ed0b0b !important;
    background-color: #ffeaed !important;
}

.btnAcc {
    margin: 0 auto;
    border-color: #FFFFFF;
    background-color: aliceblue;
    border-radius: 8px;
    color: #3f474f;
}

.passwordGroup {
    background-color: #0086c0;
    padding: 1px 1px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.passField {
    margin-left: 5px;
    margin-right: 5px;
}